/* Estilos para a página Lista de Usuários */

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.return-btn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.return-btn:hover {
    background-color: #555;
}
