<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SenaPay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesHome.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1>$enaPay</h1>
                <ul>
                    <br/>
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Cadastre-se</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section class="hero">
        <div class="container">
            <h1>Bem-vindo à Plataforma de Pagamentos SenaPay!</h1>
            <p>Facilitando o controle do seu dinheiro!</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 SenaPay. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>