<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SenaPay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesLogin.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}
                {{ form.email() }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password() }}
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>